<form class="form-horizontal">
  <div class="form-group left-pad">
    <div class="col-2 col-md-2 col-lg-2">
        <label>User</label>
    </div>
    <div class="col-10 col-md-10 col-lg-10">
        <input type="text" name="userName" [(ngModel)]="userName"/>
    </div>
  </div>
  <div class="form-group left-pad">
    <div class="col-2 col-md-2 col-lg-2">
        <label>Message</label>
    </div>
    <div class="col-10 col-md-10 col-lg-10">
        <input type="text" name="message" [(ngModel)]="message"/>
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-12 left-pad">
    <button type="button" class="btn btn-default" (click)="sendChatMessage()">Send Message</button>
  </div>
  
  
  <div class="top-buffer col-12 col-md-12 col-lg-12 v2">
    <div class="notifyStyle" *ngFor="let item of chatAppMessages">
      {{item}}
    </div>
  </div>
</form>
